## Data structures in panda - Series(1d),Dataframe(2d) and Panel(3d)
## Series

In [1]:
import pandas as pd
import numpy as np
a = np.array([1,2,3,4,5,6])
s = pd.Series(a)
print(s)

# We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1,

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)
# NaN - Not a Number

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [6]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0])
print()
print(s[:3])
print()
print(s[-3:])
print()
print(s['a'])
print()
print(s[['a','c','d']])

1

a    1
b    2
c    3
dtype: int64

c    3
d    4
e    5
dtype: int64

1

a    1
c    3
d    4
dtype: int64

## DataFrames

In [8]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:

import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:

import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print(("The axes are:"))
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [6]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print("Our data series is:")
print(df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

## Accessing data in Pandas

In [7]:
import pandas as pd
#Loading data with read_csv() function. Here we are providing path to the csv file. 
#If the file is in your system you can provide its path as well.
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

#Let's print and see its type
print(type(iris))
print(iris)

<class 'pandas.core.frame.DataFrame'>
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
# Creating copy of DataFrame
df = iris 
# Above statement simply makes df refer to the data frame object that iris is referring to. So now both iris and df refer to the same dataframe object and any changes done via one will reflect in other.
# So effectively this is not creating another dataframe object. And if we wish to create a copy then we will use copy() function for that
df = iris.copy()
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
#Ignoring header -> If you don't want first row to be treated as a header, you can set header = None
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [14]:
# head() function is a good way to have a look at first few enteries of the data frame. 
# By default if shows first 5 enteries. 
#You can write df.head(n) if you wish to have a look at first n enteries.
#df.head()

In [12]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [15]:
print(df.shape)
# 149 rows and 5 columns

(149, 5)

In [18]:
#Column Headers
print(df.columns)  # Will tell you what the current column headers are
#Changing Column Headers
df.columns = ['sl','sw','pl','pw','flower_type']
print(df.columns)

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')
Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [19]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [20]:
#describe() function is a good way to get some statistics around the data. 
# By default it includes all columns with numeric data.
#Also the results exclude NaN enteries
print(df.describe())
# gives count, mean,standard deviation,minimum,maximum,25% percentile etc
#If you want to include all columns for result, then use -
df.describe(include='all')

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

                sl          sw          pl          pw      flower_type
count   149.000000  149.000000  149.000000  149.000000              149
unique         NaN         NaN         NaN         NaN                3
top            NaN         NaN         NaN         NaN  Iris-versicolor
freq           NaN         NaN         NaN         NaN               50
mean      5.848322    3.051007    3.774497    1.205369              NaN
std       0.828594    0.433499    1.759651    0.761292              NaN
min       4.300000    2.000000    1.000000    0.100000              NaN
25%       5.100000    2.800000    1.600000    0.300000              NaN
50%       5.800000    3.000000    4.400000    1.300000              NaN
75%       6.400000    3.300000    5.100000    1.800000              NaN
max       7.900000    4.400000    6.900000    2.500000              NaN

In [21]:
#Accessing a particular column.
#df.column_name or df['column_name']lets you access a particular column
df.sl  #OR

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [22]:
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [23]:
#You can also call describe() on a particular column
df.sl.describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sl, dtype: float64

In [24]:
#OR
df['sl'].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sl, dtype: float64

In [27]:
# Null enteries
#df.isnull() will give you list of null enteries
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [28]:
#Although df.isnull() in itself might not be very useful, we can use df.isnull().sum() which gives us count of number of null enteries in every column.
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [31]:
#Selecting Rows and/or columns by position
#iloc helps us in achieving this.
#Selecting first 4 rows of data
df.iloc[:4,:]

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

In [32]:
#Selecting data for first 4 rows, and for first 2 columns 
df.iloc[:4,:2]

    sl   sw
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1
3  5.0  3.6

In [33]:
#Selecting data for rows 2 to 5, and for columns 1 to 3
df.iloc[2:6,1:4]

    sw   pl   pw
2  3.1  1.5  0.2
3  3.6  1.4  0.2
4  3.9  1.7  0.4
5  3.4  1.4  0.3

In [34]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [36]:
df.drop(0)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [39]:
a = df.drop(0)
a.head()
# Remov the oth row

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [41]:
df.drop(0,inplace = True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [43]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [44]:
iris.drop(iris.index[0], inplace=True)
iris.head(10)

      0    1    2    3            4
1   4.9  3.0  1.4  0.2  Iris-setosa
2   4.7  3.2  1.3  0.2  Iris-setosa
3   4.6  3.1  1.5  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
5   5.4  3.9  1.7  0.4  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
7   5.0  3.4  1.5  0.2  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa
9   4.9  3.1  1.5  0.1  Iris-setosa
10  5.4  3.7  1.5  0.2  Iris-setosa

In [46]:
df.sl > 5

1      False
2      False
3      False
4       True
5      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 148, dtype: bool

In [47]:
df[df.sl > 5]

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [49]:
c1 = df[df.flower_type == "Iris-virginica"]
c1

      sl   sw   pl   pw     flower_type
99   6.3  3.3  6.0  2.5  Iris-virginica
100  5.8  2.7  5.1  1.9  Iris-virginica
101  7.1  3.0  5.9  2.1  Iris-virginica
102  6.3  2.9  5.6  1.8  Iris-virginica
103  6.5  3.0  5.8  2.2  Iris-virginica
104  7.6  3.0  6.6  2.1  Iris-virginica
105  4.9  2.5  4.5  1.7  Iris-virginica
106  7.3  2.9  6.3  1.8  Iris-virginica
107  6.7  2.5  5.8  1.8  Iris-virginica
108  7.2  3.6  6.1  2.5  Iris-virginica
109  6.5  3.2  5.1  2.0  Iris-virginica
110  6.4  2.7  5.3  1.9  Iris-virginica
111  6.8  3.0  5.5  2.1  Iris-virginica
112  5.7  2.5  5.0  2.0  Iris-virginica
113  5.8  2.8  5.1  2.4  Iris-virginica
114  6.4  3.2  5.3  2.3  Iris-virginica
115  6.5  3.0  5.5  1.8  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
118  6.0  2.2  5.0  1.5  Iris-virginica
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [50]:
c1.describe()

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [51]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [61]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header = None)
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
a=df['flower_type'].describe(include = 'all')
a

count                 150
unique                  3
top       Iris-versicolor
freq                   50
Name: flower_type, dtype: object

In [66]:
df.groupby(['flower_type']).groups

{'Iris-setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
            dtype='int64'),
 'Iris-versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
             67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
             84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 'Iris-virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
             126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
             139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64')}

In [73]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header = None)
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
print("50","50","50")

50 50 50

In [75]:
# //count flowers

import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
df = iris.copy()
for i in iris['Species'].value_counts():
    print(i,end = " ")

50 50 50

In [3]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
iris = iris[iris['Species']=='Iris-virginica']
iris = iris[iris['PetalLength']>1.5]
X = iris.values
# print(iris.shape[1])
for i in range(iris.shape[0]):
    for j in range(iris.shape[1]):
        print(X[i][j],end = " ")
    print()

5

In [86]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
a = iris[iris['Species']=='Iris-setosa']
a

       SepalLength  SepalWidth  PetalLength  PetalWidth
count     50.00000   50.000000    50.000000    50.00000
mean       5.00600    3.418000     1.464000     0.24400
std        0.35249    0.381024     0.173511     0.10721
min        4.30000    2.300000     1.000000     0.10000
25%        4.80000    3.125000     1.400000     0.20000
50%        5.00000    3.400000     1.500000     0.20000
75%        5.20000    3.675000     1.575000     0.30000
max        5.80000    4.400000     1.900000     0.60000

In [24]:
# minSL minSW minPL minPW Iris-setosa
# maxSL maxSW maxPL maxPW Iris-setosa
# avgSL avgSW avgPL avgPW Iris-setosa

# Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
z = iris[iris['Species']=='Iris-setosa']
a = z.min()
b = z.max()
c = z.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-setosa")

y = iris[iris['Species']=='Iris-versicolor']
a = y.min()
b = y.max()
c = y.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-versicolor")

x = iris[iris['Species']=='Iris-virginica']
a = x.min()
b = x.max()
c = x.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-virginica")

False

In [6]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
df1 = iris.copy()
df2 = iris.copy()
z = df1[df1['Species']=='Iris-setosa']
a = z.min()
b = z.max()
c = z.mean()
for i in a:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-setosa")
for i in b:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-setosa")
for i in c:
    print("{:.2f}".format(i),end = " ")
print("Iris-setosa")

y = df2[df2['Species']=='Iris-versicolor']
p = y.min()
q = y.max()
r = y.mean()
for i in p:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")
for i in q:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")
for i in r:
    print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")

x = iris[iris['Species']=='Iris-virginica']
m = x.min()
n = x.max()
o = x.mean()
for i in m:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-virginica")
for i in n:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-virginica")
for i in o:
    print("{:.2f}".format(i),end = " ")
print("Iris-virginica")

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [28]:
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df1 = df1[df1['State']=='Jammu and Kashmir']
df1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
21744,1984,4,17,India,Jammu and Kashmir,South Asia,Bhela,33.315527,74.622476,Assassination,2.0,0.0,Gurbachan Singh Sandhar (Sikh lawyer) and wife,NaN,Sikh Extremists,Private Citizens & Property,Unknown
22108,1984,5,20,India,Jammu and Kashmir,South Asia,Jammu,32.726602,74.857026,Bombing/Explosion,1.0,0.0,bridge over a stream,NaN,Unknown,Transportation,Explosives
29677,1986,12,11,India,Jammu and Kashmir,South Asia,Madora,33.934929,75.154160,Bombing/Explosion,1.0,5.0,general post office complex,NaN,Unknown,Government (General),Unknown
33202,1988,1,21,India,Jammu and Kashmir,South Asia,Mand,32.888165,74.985168,Armed Assault,2.0,0.0,police unit,NaN,Unknown,Police,Firearms
33372,1988,2,7,India,Jammu and Kashmir,South Asia,Kherawali,32.523889,74.974444,Armed Assault,4.0,5.0,marriage reception,NaN,Sikh Extremists,Private Citizens & Property,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181222,2017,12,11,India,Jammu and Kashmir,South Asia,Kralcheck Keller,33.732981,74.855559,Armed Assault,2.0,1.0,Van,12/11/2017: Assailants opened fire on a Jammu ...,Jaish-e-Mohammad (JeM),Business,Firearms
181396,2017,12,18,India,Jammu and Kashmir,South Asia,Baramulla district,34.191218,74.350010,Bombing/Explosion,0.0,0.0,Police Station,12/18/2017: Assailants threw a grenade at a po...,Unknown,Police,Explosives
181414,2017,12,19,India,Jammu and Kashmir,South Asia,Pulwama district,33.873538,74.899019,Bombing/Explosion,0.0,0.0,Police Line,12/19/2017: Assailants fired a rifle grenade a...,Unknown,Police,Explosives
181476,2017,12,22,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Armed Assault,0.0,0.0,Post,12/22/2017: Assailants threw two petrol bombs ...,Unknown,Police,Incendiary
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives

In [61]:
# The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
# Print count of number of attacks in that city as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df1 = df1[df1['State']=='Jammu and Kashmir']
df1['City'].describe()
df1 = df1[df1['City']=='Srinagar']
df2 = df1[df1['Group']!='Unknown']
df2['Group'].describe()
count1 = 0
count2 = 0
for i in df1['Group']:
    if(i=='Unknown'):
        count1+=1
    else:
        count2+=1
print('Srinagar',count2,"Muslim Separatists")

Srinagar 351 Muslim Separatists

In [71]:
# Find out the Country with Highest Number of Terror Attack and 
# in which year the most number of terrorist attack happened in that country ?
# Print count of terror attacks as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1['Country'].describe()
df1 = df1[df1['Country']=='Iraq']
df1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
2854,1975,3,1,Iraq,Nineveh,Middle East & North Africa,Mosul,36.354145,43.143570,Hijacking,0.0,1.0,B-737,NaN,Unknown,Airports & Aircraft,Unknown
4385,1976,12,15,Iraq,Baghdad,Middle East & North Africa,Baghdad,33.303566,44.371773,Bombing/Explosion,10.0,285.0,Airport terminal,NaN,Unknown,Airports & Aircraft,Explosives
4393,1976,12,18,Iraq,Unknown,Middle East & North Africa,Penjwon,NaN,NaN,Hostage Taking (Kidnapping),0.0,0.0,agricultural experts in NE Iraq,NaN,Kurdish Democratic Party-Iraq (KDP),Government (General),Unknown
4402,1976,12,24,Iraq,Baghdad,Middle East & North Africa,Baghdad,33.303566,44.371773,Assassination,2.0,0.0,Personnel,NaN,Unknown,Violent Political Party,Firearms
8688,1979,6,15,Iraq,Basra,Middle East & North Africa,Basra,30.510054,47.778095,Assassination,1.0,0.0,local secretary,NaN,Unknown,Government (General),Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181669,2017,12,30,Iraq,Kirkuk,Middle East & North Africa,Kirkuk,35.452110,44.375465,Bombing/Explosion,0.0,5.0,Cafe,12/30/2017: Assailants threw grenades at a caf...,Unknown,Business,Explosives
181670,2017,12,31,Iraq,Diyala,Middle East & North Africa,Hawd al-Waqf,33.816111,44.783524,Unknown,1.0,0.0,Station,12/31/2017: Assailants attacked a police stati...,Islamic State of Iraq and the Levant (ISIL),Police,Unknown
181671,2017,12,31,Iraq,Saladin,Middle East & North Africa,Farhatiyah,34.031331,44.070106,Bombing/Explosion,4.0,9.0,Civilians,12/31/2017: Assailants attacked civilians in F...,Islamic State of Iraq and the Levant (ISIL),Private Citizens & Property,Explosives
181674,2017,12,31,Iraq,Nineveh,Middle East & North Africa,Baaj,36.045059,41.716717,Unknown,5.0,0.0,Troops,"12/31/2017: Assailants attacked Baaj, Nineveh,...",Islamic State of Iraq and the Levant (ISIL),Military,Unknown
181679,2017,12,31,Iraq,Diyala,Middle East & North Africa,Muqdadiyah,33.953167,44.921906,Armed Assault,13.0,0.0,Post,12/31/2017: Assailants attacked volunteer figh...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [128]:
# NumberOfPeopleKilled Country TerroristGroup
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Killed']==1570]
print(int(1570),"Iraq","Islamic State of Iraq and the Levant (ISIL)")

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [148]:
# There was formation of new government in India on 26 May 2014. 
# So current government's span is from 26th May 2014 to current. 
# Find out two things from this period-
# TotalAttacks MostActiveTerroristGroup
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df2 = df1.copy()
df1 = df1[df1['Year']>2014]
# Maoists
a = df1.count()
df1.describe(include = 'all')
df2 = df2[df2['Year']==2014]
df3 = df2.copy()
df2 = df2[df2['Month']>5]
b = df2.count()
df3 = df3[df3['Month']==5]
df3 = df3[df3['Day']>25]
c = df3.count()
print(int(3336),"Maoists")

3336 Maoists

In [156]:
# City NumberOfAttack Group
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['State']=='Jammu and Kashmir']
city_list = df1['City'].value_counts()
city = city_list.index[0]
# city
attack = city_list.values[0]
# attack
df1 = df1[df1['City']==city]
group = df1['Group'].value_counts().index[1]
# group
print(city,attack,group)

Srinagar 657 Muslim Separatists

In [160]:
# Country NumberOfAttack Year
# Find out the Country with Highest Number of Terror Attack 
# and in which year the most number of terrorist attack happened in that country ?
# Print count of terror attacks as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
country_list = df1['Country'].value_counts()
country = country_list.index[0]
# country
attack = country_list.values[0]
# attack
df1 = df1[df1['Country']==country]
year = df1['Year'].value_counts().index[0]
# year
print(country,attack,year)

Iraq 24636 2014